body {
  display: block;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  max-height: 2464px;
  box-sizing: border-box;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  margin: auto;
}

/* Header */
header {
  width: 100%;
  height: 24%;
  box-sizing: border-box;
  background: #74c69d;
  color: #fff;
  padding: 35px 9% 83px 9%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

h1,
.h1 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  margin-top: 0;
}

h5 {
  margin-top: 0;
}

p,
.p {
  margin-top: 0;
}

/* Header menu */
nav.menu {
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#burger-checkbox {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.menu-item {
  padding-right: 3rem;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.menu-item:hover {
  font-size: large;
}

#contact {
  padding-right: 0rem;
}

/* Header content */
.header-main {
  width: 100%;
  height: 15.34%;
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 33%;
  height: 12%;
  margin-left: 0;
  margin-top: 1.6%;
  margin-right: 8%;
  margin-bottom: 1.6%;
}

.header-main .main-content h5 {
  font-size: 16px;
  letter-spacing: 0.31em;
  text-transform: uppercase;
}

.header-main .main-content h1 {
  color: #fff;
}

.header-main .main-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.75);
}

.main-content button {
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 0.5rem;
  border-style: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 125%;
  color: #000;
  margin-top: 1%;
}

.main-content button:hover {
  background-color: #212529;
  color: #fff;
}

.main-img,
.img-content-2,
.img-content-3,
#logotyp {
  width: 100%;
}

/* Content */
.content-partners {
  line-height: 125%;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 60px;
  margin-bottom: 77px;
}

.content-title {
  padding-left: 35%;
  padding-right: 35%;
}

.content-title h5,
.content-title-4 h5 {
  font-size: 16px;
  letter-spacing: 0.31em;
  text-transform: uppercase;
  color: #74c69d;
}

.content-title h1,
.content-title-4 h1 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #000;
}

.content-title p,
.content-title-4 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.content-logotup {
  margin-top: 55px;
  margin-bottom: 55px;
}

.content-logotup img {
  padding-right: 6%;
}

#google {
  padding-left: 6%;
}

.content-2 {
  width: 100%;
  height: 17.5%;
  display: flex;
  justify-content: space-between;
  padding: 0 4% 0 4%;
}

.content-title-2 {
  width: 35%;
  height: 10%;
  margin-top: 88px;
}

.content-3 {
  width: 100%;
  height: 23%;
  display: flex;
  justify-content: space-between;
  padding: 0 4% 0 4%;
  margin-top: 73.5px;
}

.content-title-3 {
  width: 35%;
  height: 10%;
  margin-top: 155px;
}

.content-title-2 h1,
.content-title-3 h1 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #212529;
}

.content-title-2 p,
.content-title-3 p {
  padding-right: 10%;
  font-weight: 400;
  font-size: 15px;
  color: rgba(33, 37, 41, 0.5);
}

.content-4 {
  line-height: 125%;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 84px;
  margin-bottom: 72px;
}

.content-title-4 {
  margin-bottom: 45px;
}

/* Button */
.content-partners button,
.content-title-2 button,
.content-title-3 button,
.content-4 button,
form button {
  cursor: pointer;
  width: 170px;
  height: 48px;
  border-radius: 0.5rem;
  border-style: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 125%;
  background-color: #212529;
  color: #fff;
  margin-top: 1%;
}

.content-partners button:hover,
.content-title-2 button:hover,
.content-title-3 button:hover,
.content-4 button:hover,
form button:hover {
  background-color: #74c69d;
  color: #000;
}

.content-4 button {
  margin-top: 45px;
}

/* Carousel */
.carousel-control-prev,
.carousel-control-next {
  background-color: #212529 !important;
  color: #fff !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 0.5rem !important;
  border-style: none !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #74c69d !important;
  color: #000 !important;
}

/* Accordion */
.accordion {
  width: 100%;
  margin: 30px 0% 30px 0%;
}

.accordion-title {
  line-height: 125%;
  text-align: center;
  display: block;
  cursor: pointer;
  transition: 0.2s ease-out;
  padding-left: 37%;
  padding-top: 1%;
  padding-right: 37%;
  padding-bottom: 1%;
}

.p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.accordion-title:hover {
  background-color: #74c69d;
}

.accordion-item {
  border: 1px solid #74c69d;
}

.accordion-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.accordion-input:checked + .accordion-text {
  display: flex;
  justify-content: space-between;
}

.accordion-text {
  padding: 30px;
  display: none;
}

/* Form */
.accordion-text form {
  width: 40%;
  height: 100%;
}

form input,
form textarea {
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 38px;
  background: #eee;
}

form textarea {
  height: 75px;
}

.accordion-text form {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  margin-right: 2%;
}

form button {
  border-radius: 5px;
  width: 100%;
  height: 48px;
}

/* Footer */
.footer {
  background: #74c69d;
  color: #fff;
  padding: 50px 9%;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.span {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.icon {
  margin-right: 20px;
}

/*Responsive 1000px*/
@media (max-width: 1000px) {
  header {
    height: 100%;
    padding: 25px 4% 25px 4%;
  }
}

@media (max-width: 1000px) {
  .menu-list {
    margin-top: 2rem;
  }
}

@media (max-width: 1000px) {
  .header-main {
    flex-direction: column;
  }
  .header-main .main-content {
    order: 1;
    padding: 0%;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .content {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 1000px) {
  .content-title,
  .accordion-title {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 1426px) {
  .content-logotup img {
    margin-bottom: 40px;
  }
  .content-logotup img #spotify {
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .content-2 {
    flex-direction: column;
  }
  .content-2 .content-title-2 {
    padding-right: 50px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .content-3 {
    flex-direction: column;
  }
  .content-3 .content-title-3 {
    order: 1;
    padding-right: 50px;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .accordion-title {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 1000px) {
  .accordion-text {
    flex-direction: column;
  }
  .accordion-text form {
    order: 1;
    padding: 0%;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 30px 6%;
  }
  .footer footer {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
}

/*Responsive 500px*/
@media (max-width: 500px) {
  .menu .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .menu .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: #74c69d;
    width: 40px;
    height: 26px;
  }
  .menu .burger::before,
  .menu .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
  }
  .menu .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .menu .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .menu .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .menu .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .menu .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #74c69d;
    opacity: 90%;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
  }
  .menu .menu-item {
    display: block;
    padding: 8px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu .menu-item:hover {
    background: rgba(193, 245, 185, 0.2);
  }
  .menu .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .main-content h1 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .content-title h5,
  .content-title-4 h5 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .content-title h1,
  .content-title-2 h1,
  .content-title-3 h1,
  .content-title-4 h1 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .content-title p,
  .content-title-4 p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .content-logotup {
    display: flex;
    flex-direction: column;
    margin-left: 67.5px;
    margin-right: 67.5px;
  }
}

@media (max-width: 500px) {
  .content-logotup img {
    padding: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  #spotify {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .carousel-item {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 500px) {
  form {
    margin-top: 21px;
  }
}

@media (max-width: 500px) {
  form textarea {
    height: 141px;
  }
}/*# sourceMappingURL=styles.css.map */