$background1: #74c69d;
$background2: #fff;
$background3: #eee;
$background-button: #212529;
$color1: #74c69d;
$color2: #fff;
$color3: rgba(255, 255, 255, 0.75);
$color4: #000;
$color5: rgba(33, 37, 41, 0.5);
